body {
    text-align: center;
    background-color: khaki;
    
}
p1 {
  font-size: 22px;
}
img {
    width: 600px;
}
p2 {
  font-size: 22px;
}
p3 {
    color: red;
}
p4 {
    color: red;
}
p5 {
    color: red;
}
p6 {
    color: red;
}
p7 {
    color: red;
    font-size: 22px;
}